* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 0px) {
  body .container header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: red;
  }
  body .container header .right_section {
    width: 100px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  body .container header .right_section i {
    margin-right: 5px;
  }
  body .container header p {
    font-weight: 600;
    font-size: 14px;
  }
  body .main {
    width: 100%;
    height: 92%;
    padding: 40px 50px;
    position: relative;
  }
  body .main .home {
    width: 100%;
    height: 100%;
  }
  body .main .home .functionalities {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  body .main .home .functionalities .search {
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 0 20px;
  }
  body .main .home .functionalities .search i {
    margin-right: 20px;
  }
  body .main .home .functionalities .search input {
    width: 90%;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }
  body .main .home .functionalities .search input:focus {
    outline: none;
  }
  body .main .home .functionalities .filter {
    height: 45px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  body .main .home .functionalities .filter p {
    font-size: 14px;
    font-weight: 600;
  }
  body .main .home .functionalities .search_options,
body .main .home .functionalities .filter_options {
    width: 55%;
    min-height: 40px;
    position: absolute;
    padding: 15px;
    top: 120%;
    border-radius: 5px;
    display: none;
  }
  body .main .home .functionalities .search_options ul,
body .main .home .functionalities .filter_options ul {
    list-style: none;
    width: 100%;
    height: 100%;
  }
  body .main .home .functionalities .search_options ul li,
body .main .home .functionalities .filter_options ul li {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  body .main .home .functionalities .filter_options {
    width: 250px;
    left: 0;
    top: 115%;
  }
  body .main .home .output {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 48px 54px;
  }
  body .main .home .output .card {
    width: 100%;
    height: 280px;
    border-radius: 5px;
    overflow: hidden;
  }
  body .main .home .output .card .card_top {
    width: 100%;
    height: 50%;
  }
  body .main .home .output .card .card_top img {
    width: 100%;
    height: 100%;
  }
  body .main .home .output .card .card_bottom {
    padding: 10px;
    height: 50%;
    width: 100%;
  }
  body .main .home .output .card .card_bottom h3 {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 20px;
  }
  body .main .home .output .card .card_bottom p {
    font-size: 14px;
    font-weight: 600;
  }
  body .main .home .output .card .card_bottom p span {
    font-weight: 300;
  }
  body .main .details {
    height: 100vh;
    width: 100%;
    padding: 0 50px;
    padding: 50px;
    z-index: 2;
    position: fixed;
    left: 0;
    display: none;
    top: 0;
  }
  body .main .details .top_section {
    width: 100%;
    height: 35px;
  }
  body .main .details .top_section .back {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0 25px;
  }
  body .main .details .top_section .back i {
    margin-right: 10px;
  }
  body .main .details .bottom_section {
    width: 100%;
    height: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  body .main .details .bottom_section .left_section {
    width: 100%;
    height: 100%;
  }
  body .main .details .bottom_section .left_section img {
    width: 100%;
    height: 100%;
  }
  body .main .details .bottom_section .right_section {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
  }
  body .main .details .bottom_section .right_section .info {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  body .main .details .bottom_section .right_section .info div {
    width: 100%;
    height: 100%;
  }
  body .main .details .bottom_section .right_section .info div p {
    font-weight: 600;
    margin-bottom: 5px;
  }
  body .main .details .bottom_section .right_section .info div p span {
    font-weight: 300;
  }
  body .main .details .bottom_section .right_section .border_countries {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  body .main .details .bottom_section .right_section .border_countries .borders {
    margin-left: 10px;
    width: 75%;
    height: auto;
    display: block;
  }
  body .main .details .bottom_section .right_section .border_countries .borders div {
    min-height: 30px;
    max-height: 50px;
    max-width: 400px;
    border-radius: 5px;
    font-weight: 300;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 560px) {
  .container {
    height: 100%;
    margin: 0 auto;
  }
  .container header {
    padding: 0 50px;
  }
  .container header .right_section {
    width: 100px;
  }
  .container .main .details .top_section .back {
    width: 25%;
  }
  .container .main .details .bottom_section {
    flex-direction: column;
    height: 350px;
  }
  .container .main .details .bottom_section .left_section {
    width: 80%;
  }
  .container .main .details .bottom_section .right_section {
    width: 100%;
    padding: 50px;
  }
  .container .main .details .bottom_section .right_section .info {
    flex-direction: row;
  }
  .container .main .details .bottom_section .right_section .info div {
    width: 50%;
  }
  .container .main .details .bottom_section .right_section .border_countries .borders {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .main .home .functionalities {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    height: 45px;
  }
  .container .main .home .functionalities .search {
    width: 50%;
    height: 100%;
    margin: 0;
  }
  .container .main .home .functionalities .filter {
    max-width: 35%;
    height: 100%;
  }
  .container .main .home .functionalities .search_options {
    width: 50%;
  }
  .container .main .home .functionalities .filter_options {
    width: 35%;
    right: 0;
    left: auto;
    top: 120%;
  }
  .container .main .home .output {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 64px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
  }
  .container header .right_section {
    width: 15%;
  }
  .container .main .details .top_section .back {
    width: 15%;
  }
  .container .main .details .bottom_section {
    flex-direction: row;
    height: 350px;
  }
  .container .main .details .bottom_section .left_section {
    width: 40%;
  }
  .container .main .details .bottom_section .right_section {
    width: 60%;
  }
  .container .main .details .bottom_section .right_section .info div {
    width: 50%;
  }
  .container .main .details .bottom_section .right_section .border_countries .borders {
    width: 75%;
  }
  .container .main .home .functionalities .search {
    width: 30%;
  }
  .container .main .home .functionalities .filter {
    max-width: 23%;
  }
  .container .main .home .functionalities .search_options {
    width: 30%;
  }
  .container .main .home .functionalities .filter_options {
    width: 23%;
  }
  .container .main .home .output {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px 64px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
  }
  .container header .right_section {
    width: 10%;
  }
  .container .main .details .top_section .back {
    width: 10%;
  }
  .container .main .details .bottom_section .left_section {
    width: 40%;
  }
  .container .main .details .bottom_section .right_section {
    width: 60%;
  }
  .container .main .details .bottom_section .right_section .info div {
    width: 50%;
  }
  .container .main .details .bottom_section .right_section .border_countries .borders {
    width: 75%;
  }
  .container .main .home .functionalities .search {
    width: 30%;
  }
  .container .main .home .functionalities .filter {
    width: 20%;
  }
  .container .main .home .functionalities .search_options {
    width: 30%;
  }
  .container .main .home .functionalities .filter_options {
    width: 20%;
  }
  .container .main .home .output {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 48px 84px;
  }
}
.light {
  background-color: hsl(0deg, 0%, 98%);
}
.light .container {
  color: hsl(207deg, 26%, 17%);
}
.light .container header {
  background-color: hsl(0deg, 0%, 100%);
}
.light .container header h3,
.light .container header p,
.light .container header i {
  color: hsl(207deg, 26%, 17%);
}
.light .container .main {
  background-color: hsl(0deg, 0%, 98%);
}
.light .container .details {
  background-color: hsl(0deg, 0%, 98%);
}
.light .container .details .top_section .back {
  box-shadow: 2px 3px 5px hsl(0deg, 0%, 52%);
}
.light .container .details .bottom_section {
  color: hsl(207deg, 26%, 17%);
}
.light .container .details .bottom_section .right_section .border_countries .borders div {
  border: 2px solid hsl(0deg, 0%, 52%);
  box-shadow: 2px 3px 5px hsl(0deg, 0%, 52%);
}
.light .container .home .functionalities .search,
.light .container .home .functionalities .filter {
  box-shadow: 2px 2px 5px hsl(0deg, 0%, 52%);
}
.light .container .home .functionalities .search i,
.light .container .home .functionalities .filter i {
  color: hsl(0deg, 0%, 52%);
}
.light .container .home .functionalities .search input,
.light .container .home .functionalities .search p,
.light .container .home .functionalities .filter input,
.light .container .home .functionalities .filter p {
  color: hsl(0deg, 0%, 52%);
}
.light .container .home .functionalities .search_options,
.light .container .home .functionalities .filter_options {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 2px 2px 5px hsl(0deg, 0%, 52%);
}
.light .container .home .output {
  color: hsl(207deg, 26%, 17%);
}
.light .container .home .output .card {
  box-shadow: 3px 3px 5px hsl(0deg, 0%, 52%);
}
.light .container .home .output .card_bottom {
  color: hsl(207deg, 26%, 17%);
}

.dark {
  background-color: hsl(207deg, 26%, 17%);
}
.dark .container {
  color: hsl(207deg, 26%, 17%);
}
.dark .container header {
  background-color: hsl(209deg, 23%, 22%);
}
.dark .container header h3,
.dark .container header p,
.dark .container header i {
  color: hsl(0deg, 0%, 100%);
}
.dark .container .main {
  background-color: hsl(207deg, 26%, 17%);
}
.dark .container .details {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: none;
}
.dark .container .details .top_section .back {
  box-shadow: none;
  background-color: hsl(209deg, 23%, 22%);
}
.dark .container .details .bottom_section {
  color: hsl(0deg, 0%, 100%);
}
.dark .container .details .bottom_section .right_section .border_countries .borders div {
  border: 2px solid hsl(0deg, 0%, 100%);
  background-color: hsl(209deg, 23%, 22%);
}
.dark .container .home .functionalities .search,
.dark .container .home .functionalities .filter {
  box-shadow: none;
  background-color: hsl(209deg, 23%, 22%);
}
.dark .container .home .functionalities .search i,
.dark .container .home .functionalities .filter i {
  color: hsl(0deg, 0%, 100%);
}
.dark .container .home .functionalities .search input,
.dark .container .home .functionalities .search p,
.dark .container .home .functionalities .filter input,
.dark .container .home .functionalities .filter p {
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}
.dark .container .home .functionalities .search_options,
.dark .container .home .functionalities .filter_options {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: none;
  color: hsl(0deg, 0%, 100%);
}
.dark .container .home .output {
  color: hsl(207deg, 26%, 17%);
}
.dark .container .home .output h1 {
  color: white;
}
.dark .container .home .output .card {
  box-shadow: none;
  background-color: hsl(209deg, 23%, 22%);
}
.dark .container .home .output .card_bottom {
  color: hsl(0deg, 0%, 100%);
}